body,
html {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  height: 100%;
}

.container {
  background: linear-gradient(135deg, #8a2be2, #4169e1);
  /* need to clear about the Display property; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
}

.logo {
  width: 150px;
  /* need to clear about the border radius property; */
  border-radius: 50%;
  /* need to clear about the object-fit property; */
  object-fit: contain;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

p {
  color: #666;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ababab;
}

.social-media {
  text-decoration: none;
  color: #0077cc;
  font-weight: 500;
}

.social-media:hover {
  text-decoration: underline;
  color: #005fa3;
}

.notify-button {
  display: flex;
  justify-content: center;
  background-color: #4169e1;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  /* font-size: 16px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.notify-button:hover {
  background-color: #2b4385;
}
